<?xml version="1.0"?>
<configuration>
	<!-- ========================================
		
	============================================== -->
	<location path="Beet1099.aspx">
		<system.web>
			<identity impersonate="true" />
		</system.web>
	</location>
	<location path="Certificate.aspx">
		<system.web>
			<identity impersonate="true" />
		</system.web>
	</location>
	<location path="ContractCards.aspx">
		<system.web>
			<identity impersonate="true" />
		</system.web>
	</location>
	<location path="ContractPayeeSummary.aspx">
		<system.web>
			<identity impersonate="true" />
		</system.web>
	</location>
	<location path="DailyGrowerTareDetail.aspx">
		<system.web>
			<identity impersonate="true" />
		</system.web>
	</location>
	<location path="DirectDeliveryDetails.aspx">
    <system.web>
      <identity impersonate="true" />
    </system.web>
  </location>
  <location path="DirectDeliveryPaymentExport.aspx">
    <system.web>
      <identity impersonate="true" />
    </system.web>
  </location>
  <location path="DirectDeliveryStatement.aspx">
    <system.web>
      <identity impersonate="true" />
    </system.web>
  </location>
  <location path="EquityPayment.aspx">
		<system.web>
			<identity impersonate="true" />
		</system.web>
	</location>
	<location path="EquityStatement.aspx">
		<system.web>
			<identity impersonate="true" />
		</system.web>
	</location>
	<location path="FieldAgronomy.aspx">
		<system.web>
			<identity impersonate="true" />
		</system.web>
	</location>
	<location path="FieldContracting.aspx">
		<system.web>
			<identity impersonate="true" />
		</system.web>
	</location>
	<location path="FieldSummary.aspx">
		<system.web>
			<identity impersonate="true" />
		</system.web>
	</location>
	<location path="LandownerLetter.aspx">
		<system.web>
			<identity impersonate="true" />
		</system.web>
	</location>
	<location path="MasterReports.aspx">
		<system.web>
			<identity impersonate="true" />
		</system.web>
	</location>
	<location path="PaymentSummary.aspx">
		<system.web>
			<identity impersonate="true" />
			<authorization>
				<allow roles="WSC AG ADMIN,WESTERNSUGAR\WSC AG ADMIN,WSC AG Read-Only,WESTERNSUGAR\WSC AG Read-Only" />
				<deny users="*" />
			</authorization>			
		</system.web>
	</location>
	<location path="ShareholderSummary.aspx">
		<system.web>
			<identity impersonate="true" />
			<authorization>
				<allow roles="WESTERNSUGAR\WSC AG ADMIN,WESTERNSUGAR\WSC AG Agriculturist,WESTERNSUGAR\WSC AG Beet Clerk,WESTERNSUGAR\WSC AG Manager,WESTERNSUGAR\WSC AG Read-Only,WESTERNSUGAR\WSC AG SRS Admin,WESTERNSUGAR\WSC AG SRS Manager,
WSC AG ADMIN,WSC AG Agriculturist,WSC AG Beet Clerk,WSC AG Manager,WSC AG Read-Only,WSC AG SRS Admin,WSC AG SRS Manager" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="StatementPatronageUnitRetain.aspx">
		<system.web>
			<identity impersonate="true" />
		</system.web>
	</location>
	<location path="TempTransfer.aspx">
		<system.web>
			<identity impersonate="true" />
		</system.web>
	</location>
	<location path="Transmittal.aspx">
		<system.web>
			<identity impersonate="true" />
		</system.web>
	</location>
</configuration>
