<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<location path="BeetAcctConnect.aspx">
		<system.web>
			<identity impersonate="true" />
			<authorization>
				<allow roles="WSC AG ADMIN,WESTERNSUGAR\WSC AG ADMIN,WSC AG Agriculturist,WESTERNSUGAR\WSC AG Agriculturist,WSC AG Beet Clerk,WESTERNSUGAR\WSC AG Beet Clerk,WSC AG Manager,WESTERNSUGAR\WSC AG Manager,WSC AG Read-Only,WESTERNSUGAR\WSC AG Read-Only,WSC AG SRS Admin,WESTERNSUGAR\WSC AG SRS Admin,WSC AG SRS ManagerWESTERNSUGAR\WSC AG SRS Manager" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="FieldAgronomy.aspx">
		<system.web>
			<identity impersonate="true" />
		</system.web>
	</location> 
	<location path="FieldContracting.aspx">
		<system.web>
			<identity impersonate="true" />
		</system.web>
	</location>  
	<location path="FieldHome.aspx">
		<system.web>
			<identity impersonate="true" />
		</system.web>
	</location>  
	<location path="FieldInfo.aspx">
		<system.web>
			<identity impersonate="true" />
		</system.web>
	</location>  
	<location path="ShareholderSummary.aspx">
		<system.web>
			<identity impersonate="true" />
		</system.web>
	</location>
	<location path="SeedVariety.aspx">
		<system.web>
			<identity impersonate="true" />
		</system.web>
	</location>
	<location path="SoilLab.aspx">
		<system.web>
			<identity impersonate="true" />
			<authorization>
				<allow roles="WSC AG ADMIN,WESTERNSUGAR\WSC AG ADMIN" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>	  
</configuration>
