<?xml version="1.0"?>
<configuration>
	<location path="BeetPaymentBreakdown.aspx">
		<system.web>
			<identity impersonate="true" />
		</system.web>
	</location>
	<location path="ContractDeliverySummary.aspx">
		<system.web>
			<identity impersonate="true" />
		</system.web>
	</location>
	<location path="ContractPayeeSummary.aspx">
		<system.web>
			<identity impersonate="true" />
		</system.web>
	</location>
	<location path="ContractSummary.aspx">
		<system.web>
			<identity impersonate="true" />
		</system.web>
	</location>
	<location path="DailyGrowerTareDetail.aspx">
		<system.web>
			<identity impersonate="true" />
		</system.web>
	</location>
	<location path="DeliveryByDaySummary.aspx">
		<system.web>
			<identity impersonate="true" />
		</system.web>
	</location>
	<location path="EquityStatement.aspx">
		<system.web>
			<identity impersonate="true" />
		</system.web>
	</location>
	<location path="FieldSummary.aspx">
		<system.web>
			<identity impersonate="true" />
		</system.web>
	</location>
	<location path="GroTransmittal.aspx">
		<system.web>
			<identity impersonate="true" />
		</system.web>
	</location>
	<location path="HarvestReports.aspx">
		<system.web>
			<identity impersonate="true" />
		</system.web>
	</location>
	<location path="TonsByTruckByContract.aspx">
		<system.web>
			<identity impersonate="true" />
		</system.web>
	</location>
</configuration>
