<?xml version="1.0"?>
<configuration>
	<location path="AgFieldMtnHome.aspx">
		<system.web>
			<identity impersonate="true" />
		</system.web>
	</location>
	<location path="TempTransfer.aspx">
		<system.web>
			<identity impersonate="true" />
		</system.web>
	</location>
	<location path="AgAddress.aspx">
		<system.web>
			<identity impersonate="true" />
		</system.web>
	</location>
</configuration>
