<appSettings>
	<add key="sql.command.timeout" value="60"/>
	<!-- <add key="sql.connection.timeout" value="30"/> -->
	<add key="email.smtpServer" value="mail.bits2systems.com"/>
	<add key="email.smtpServerPort" value="25" />
	<add key="email.smtpUser" value="bselznick@bits2systems.com" />
	<add key="email.smtpPassword" value="y720I5i5g8sS1" />
	<add key="email.errors.to" value="wlustberg@gmail.com"/>
	<add key="email.errors.cc" value=""/>
	<add key="email.errors.from" value="bselznick@Bits2Systems.com"/>
	<add key="email.errors.subject" value="*DEV* WSCI Exception Report"/>
	<add key="email.target.employeeServiceFrom" value="bselznick@bits2systems.com"/>
	<add key="email.target.bccSendFileSummary" value="bselznick@bits2systems.com"/>
	<add key="email.faxServer" value="WSCFX02"/>
	<add key="appControl.shutdownActive" value="false"/>
	<add key="appControl.shutdownText" value="Please try again in a few minutes."/>
	<add key="appControl.homeLink" value="http://www.westernsugar.com"/>
	<add key="appControl.rptServer" value="http://TREX/WSCReportProvider/CustomReport.aspx"/>
</appSettings>






