<appSettings>
	<add key="sql.command.timeout" value="60"/>
	<!-- <add key="sql.connection.timeout" value="30"/> -->
	<add key="email.smtpServer" value="WSCEX02"/>
	<add key="email.smtpServerPort" value="25" />
	<add key="email.smtpUser" value="agreports" />
	<add key="email.smtpPassword" value="coopsugar" />
	<add key="email.errors.to" value="dcouch@westernsugar.com"/>
	<add key="email.errors.cc" value="xoutside@westernsugar.com"/>
	<add key="email.errors.from" value="agreports@westernsugar.com"/>
	<add key="email.errors.subject" value="*PRODUCTION WSCIEMP Exception Report"/>
	<add key="email.target.employeeServiceFrom" value="agreports@westernsugar.com"/>
	<add key="email.target.bccSendFileSummary" value="masmith@westernsugar.com"/>
	<add key="email.faxServer" value="WSCFX03"/>
	<add key="appControl.shutdownActive" value="false"/>
	<add key="appControl.shutdownText" value="Please try again in a few minutes."/>
	<add key="appControl.homeLink" value="http://www.westernsugar.com"/>
	<add key="appControl.rptServer" value="http://WSCFP01/WSCReportProvider/CustomReport.aspx"/>
</appSettings>
