<connectionStrings>
	<add name="BeetExportConn" connectionString="" providerName="System.Data.SqlClient" />
	<add name="LimsConn" connectionString="Data Source=TREX\SS2008;Trusted_Connection=False;Initial Catalog=LIMS;User Id=LIMSAPP01;Min Pool Size=3;Max Pool Size=30;Password=10ppasmil;" providerName="System.Data.SqlClient" />
	<add name="BeetConn" connectionString="Data Source=TREX\SS2008;Initial Catalog=BeetAccounting;Integrated Security=True" providerName="System.Data.SqlClient" />
</connectionStrings>
