<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config \
-->
<configuration>
	<!-- ========================================
		AUTH: ADMIN PAGES  
	============================================== -->
	<location path="BankFinder.aspx">
		<system.web>
			<authorization>
				<allow roles="WSC AG ADMIN,WESTERNSUGAR\WSC AG ADMIN,WSC AG SRS Admin,WESTERNSUGAR\WSC AG SRS Admin,WSC AG SRS Manager,WESTERNSUGAR\WSC AG SRS Manager" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="UserFinder.aspx">
		<system.web>
			<authorization>
				<allow roles="WSC AG ADMIN,WESTERNSUGAR\WSC AG ADMIN,WSC AG SRS Admin,WESTERNSUGAR\WSC AG SRS Admin,WSC AG SRS Manager,WESTERNSUGAR\WSC AG SRS Manager" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="PassthroughManagement.aspx">
		<system.web>
			<authorization>
				<allow roles="WSC AG ADMIN,WESTERNSUGAR\WSC AG ADMIN" />
				<deny users="*" />
			</authorization>
			<identity impersonate="true" />
		</system.web>
	</location>
</configuration>
