<?xml version="1.0"?>
<configuration>
	<location path="PaymentProcessingHome.aspx">
		<system.web>
			<identity impersonate="true" />
		</system.web>
	</location>
	<location path="PaymentDescription.aspx">
		<system.web>
			<identity impersonate="true" />
		</system.web>
	</location>
	<location path="CalculatePayment.aspx">
		<system.web>
			<identity impersonate="true" />
		</system.web>
	</location>
	<location path="BeetExcessPaymentStation.aspx">
		<system.web>
			<identity impersonate="true" />
		</system.web>
	</location>	
</configuration>
