<?xml version="1.0"?>
<!-- 
-->
<configuration>
	<location path="AlertAnnouncements.aspx">
		<system.web>
			<identity impersonate="true" />
		</system.web>
	</location>
	<location path="AlertForms.aspx">
		<system.web>
			<identity impersonate="true" />
		</system.web>
	</location>
	<location path="AlertNews.aspx">
		<system.web>
			<identity impersonate="true" />
		</system.web>
	</location>
	<location path="optChangePswd.aspx">
		<system.web>
			<identity impersonate="true" />
		</system.web>
	</location>
	<location path="optContactInfo.aspx">
		<system.web>
			<identity impersonate="true" />
		</system.web>
	</location>
	<location path="optRecDailyHarvestRpt.aspx">
		<system.web>
			<identity impersonate="true" />
		</system.web>
	</location>
	<location path="PaymentCalculator.aspx">
		<system.web>
			<identity impersonate="true" />
		</system.web>
	</location>
	<location path="ShsHome.aspx">
		<system.web>
			<identity impersonate="true" />
		</system.web>
	</location>
	<location path="VDecisionTree.aspx">
		<system.web>
			<identity impersonate="true" />
		</system.web>
	</location>
</configuration>
