<?xml version="1.0"?>
<configuration>
	<location path="ShareholderServicesHome.aspx">
		<system.web>
			<identity impersonate="true" />
		</system.web>
	</location>
	<location path="CoopEquityDeduction.aspx">
		<system.web>
			<identity impersonate="true" />
		</system.web>
	</location>
	<location path="CoopSettings.aspx">
		<system.web>
			<identity impersonate="true" />
		</system.web>
	</location>
	<location path="MemberEquityDeduction.aspx">
		<system.web>
			<identity impersonate="true" />
		</system.web>
	</location>
	<location path="OverPlantMember.aspx">
		<system.web>
			<identity impersonate="true" />
		</system.web>
	</location>
</configuration>
